<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/png" sizes="128x128" href="/assets/logo_title.png">
  <title>Help ∙ St. Paul's</title>
  <link rel="stylesheet" href="/css/help/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Century+Gothic&family=Archer+2:ital,wght@0,400;0,700&display=swap" rel="stylesheet">
</head>
<body>
  <header class="header">
    <div class="logo">
      <img src="/assets/logo_homepage.png" alt="Logo">
    </div>
  </header>

  <div class="help-container">
    <div class="help-card">
      <div class="help-card__header">
        HELP
      </div>

      <div class="help-card__body">
        Contact us in case of any problem<br>
        sergio.perez@saintpauls.com.br
      </div>

      <div class="help-card__footer">
        <button class="back-btn" onclick="window.history.back()">BACK</button>
      </div>
    </div>
  </div>
</body>
</html>
